/*!
 * Got311.org v0.1
 *
 * This theme file overrides bootstrap defaults.
 */

// Bootstrap
@import "bootstrap/less/bootstrap.less";
// @import "bootstrap/less/responsive.less";

// @import "fonts/fonts.css";

// Core variables and mixins
// @import "stylesheets/variables.less"; // Modify this for custom colors, font-sizes, etc
// @import "mixins.less";
// @import "main.less";

/* Grid system and page structure 
------------------------------------------- */

// Grid
@import "stylesheets/less/grid.less";


// Layouts
body {
  background-color: #f6f6f6;
  background-image: url(../img/groovepaper.png);
  background-repeat: repeat;
  margin-top: 60px; 	/* 60px to make the container go all the way to the bottom of the topbar */
}

#overview {
	h1 { }
	p { text-align: left; }
	 // border: solid 1px;
	// background: green;

}

#page {
	// border: solid 1px;
	// background-color: lightblue;
}

#locations {
	// border: solid 1px;
	// background: red;
	text-align: center;
	padding: 20px 0 20px 0;

}

	#location-finder {
		// border: solid 1px;
		// background: lightgreen;
	}	

	#or {
		// border: solid 1px;
		// background: yellow;
	}

	#location-zip {
		// border: solid 1px;
		// background: pink;
	}


#notice {
	// border: solid 1px;	
	// background: orange;
	text-align: center;
}
	#notice-confirm {
		h1 {
			font-family: Sreda;
			font-size: 103px;
			text-transform: uppercase;
			color: #345359;
			-webkit-box-shadow: 0 6px 3px rgba(200, 193, 174, 0.75);
			-moz-box-shadow: 0 6px 3px rgba(200, 193, 174, 0.75);
			box-shadow: 0 6px 3px rgba(200, 193, 174, 0.75);
			height: 112px;
			background: white;
			line-height: 128px;
			width: 318px;
			margin-left: 140px;
			font-weight: normal;
		}

		h2 {

			font-family: "Museo Sans";
			font-size: 63px;
			color: #345359;
			text-shadow: inset 1px 1px 1px #000;
		}

		h3 {

		}

	}

#channel {
	// border: solid 1px;
	// background: navy;
}

	#phone {
		// background-color: #4a656b;
		// border: solid 1px;
	}
	#web {
		// background-color: #4a656b;
		// border: solid 1px;
	}
	#app {
		// background-color: #4a656b;
		// border: solid 1px;
	} 

#services {
	// border: solid 1px;	
	background: #c8c1ae;
}

#resources {
	// border: solid 1px;
	background: #c8c1ae;

	.feature {
				background-color: #c8c1ae;
				text-align: center;
			}
}


	.page-header {
	
		border: none;

		h2 {
				font-family: "Museo Slab";
				font-size: 26px;
				line-height: 45px;
				text-align: right;
				color: #fff;		
				background-color: #345359;
				-webkit-box-shadow: 0 5px 2px rgba(222,207,184,.75);
				-moz-box-shadow: 0 5px 2px rgba(222,207,184,.75);
				box-shadow: 0 5px 2px rgba(222,207,184,.75);
				width: 1200px;
				height: 40px;		
				margin-left: -810px;
				padding: 0 30px 0 0;
			}

		p {
				font-family: "Museo Sans";
				font-size: 20px;
				color: #434039;
				line-height: 37px;
				padding: 6px 0 0 34px;

			}
	}
	.thumbnails {
		// @media (min-width: 1200px)
		margin-left: 0px;

			li {

				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				background-color: #eee;

			h3 {
					font-size: 22.083px;
					line-height: 25.083px;
					margin-bottom: 25px;
					font-style: normal;
					font-weight: 500;
					font-family: Helvetica, sans-serif;
					letter-spacing: -1.5px;
				}

			.caption
			{
				// width: 210px;
				height: 63px;
				background-color: #f8f8f8;


			}

			.thumbnail 				// container-inner
			{
				// width: 210px;
				height: 211px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				background-color: #fff;
			}
							
		}

	}


footer {
	// background-image: url(../img/footer-hafltone.png) repeat-x;
	background-color: #345359;
	color: #c8c1ae;
	

	a {
	     border-bottom: 1px dotted #c8c1ae;
	     color: #c8c1ae;
	}
	a:hover {
	     border-bottom: 1px solid #c8c1ae;
	     color: #b3a694;

	}

	.footer-logo {
		padding: 20px 0 20px 0;
		margin-left: -100px;
		text-align: center;
	}

	.footer-info {
		margin: 0 0 0 60px;
	}

}




/* Base CSS
------------------------------------------- */

// Type
body {
	font-family: 'museo_sans_500regular', Helvetica, sans-serif;
	font: 16px/16px;


}

// Coded

// Forms
form .zip-wrap {
  display: block !important;
}

// Tables


/* Components: Common
------------------------------------------- */

// Sprites

// Dropdowns

// Wells


/* Components: Buttons & Alerts
------------------------------------------- */

// Buttons

// Button-Groups

// Alerts


/* Components: Nav
------------------------------------------- */

// Navs

// Navbar



/* Components: Popovers
------------------------------------------- */

// Modals

// Tooltip

// Popovers



/* Components: Misc
------------------------------------------- */

// Thumbnails

// Labels-Badges

// Progress-bars

// Hero-unit



/* Utility classes
------------------------------------------- */

// Utilities
