body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body {
  font: 18px/18px "Comic Sans MS";
}
#page {
  margin: 0 auto;
  max-width: 960px;
  background-color: gray;
}
header {
  display: inline;
  float: left;
  width: 78.33333333333333%;
  margin: 0 0.8333333333333333%;
  background-color: orange;
}
article {
  display: inline;
  float: left;
  width: 38.333333333333336%;
  margin: 0 0.8333333333333333%;
  background-color: red;
}
aside {
  display: inline;
  float: left;
  width: 38.333333333333336%;
  margin: 0 0.8333333333333333%;
}
section {
  display: inline;
  float: left;
  width: 18.333333333333332%;
  margin: 0 0.8333333333333333%;
  background-color: green;
}
blockquote {
  display: inline;
  float: left;
  width: 25%;
  margin: 0 0.8333333333333333%;
  background-color: white;
}
@media screen and (max-width: 960px) {
  background-color: blue;article {
    display: inline;
    float: left;
    width: 78.33333333333333%;
    margin: 0 0.8333333333333333%;
  }
  aside {
    display: inline;
    float: left;
    width: 78.33333333333333%;
    margin: 0 0.8333333333333333%;
  }
}
