@import 'fonts/fonts.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* fonts 
---------------------------- */
/* layout
---------------------------- */
/* colors
---------------------------- */
/* basic elements
---------------------------- */
html,
body {
  font-family: 'museo_sans_500regular', Helvetica, sans-serif;
  background-color: #f6f6f6;
}
#page {
  margin: 0 auto;
  max-width: 960px;
}
#logo {
  color: #f6f6f6;
}
#logo h1 {
  font-family: 'MavenProRegular', Helvetica, sans-serif;
}
header {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  height: 85px;
  background-color: #345359;
}
article {
  background-color: #f6f6f6;
}
#intro {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#intro h1 {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  font-family: 'MuseoSlab500Regular', Georgia, serif;
  text-align: center;
}
#intro h2 {
  text-align: center;
}
#intro h4 {
  text-align: center;
}
#locations {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  margin-left: 26.041666666666668%;
  text-align: center;
}
#services {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: green;
}
#services,
#resources h2 {
  background-color: #345359;
  font-family: 'MuseoSlab500Regular', Georgia, serif;
  color: #f6f6f6;
}
#services .grid {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: #c8c1ae;
  padding: 0 -5px 20px 20px;
}
#services .grid img {
  background-color: white;
  padding: 4px;
  margin: 0 0 0 12px;
}
#resources {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: #c8c1ae;
}
#services blockquote {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  text-align: center;
  color: #3f3f3f;
  padding: 20px 0 20px 0;
}
blockquote {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  background-color: #c8c1ae;
}
#resources .feature {
  margin-left: 17.708333333333332%;
  color: #f6f6f6;
}
footer {
  background-color: #345359;
  clear: both;
}
footer h1 {
  font-weight: 100;
  text-align: right;
  color: #f6f6f6;
}
.feature {
  background-color: #c8c1ae;
}
