@import 'fonts/fonts.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* fonts 
---------------------------- */
/* layout
---------------------------- */
/* colors
---------------------------- */
/* basic elements
---------------------------- */
html,
body {
  font-family: 'museo_sans_500regular', Helvetica, sans-serif;
  background-color: #f6f6f6;
}
#page {
  margin: 0 auto;
  max-width: 960px;
}
#logo {
  color: #f6f6f6;
}
#logo h1 {
  font-family: 'MavenProRegular', Helvetica, sans-serif;
}
header {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  height: 85px;
  background-color: #37595f;
}
article {
  background-color: brown;
}
#intro {
  height: 300px;
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
}
#intro h1 {
  height: 120px;
  background-color: red;
  font-family: 'MuseoSlab500Regular', Georgia, serif;
}
#intro h2 {
  background-color: pink;
}
#intro h4 {
  background-color: purple;
}
#locations {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: yellow;
  text-align: center;
}
#services {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: green;
}
#services .grid {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: red;
  padding: 0 -5px 20px 20px;
}
#services .grid img {
  background-color: white;
  padding: 4px;
  margin: 0 0 0 12px;
}
#resources {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  background-color: navy;
}
#services blockquote {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  text-align: center;
  color: gray;
  padding: 20px 0 20px 0;
}
blockquote {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  background-color: white;
}
#resources .feature {
  margin-left: 17.708333333333332%;
  background-color: red;
}
footer {
  background-color: violet;
}
footer h1 {
  font-weight: 100;
  text-align: right;
}
