/*!
 * Got311.org v0.1.0
 *
 * This theme file overrides bootstrap defaults.
 */


//
// Imports
// --------------------------------------------------

// Bootstrap
@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/mixins.less";
// @import "../bootstrap/less/responsive.less";

// Fonts
@import "../fonts/fonts.css";

// Core variables and custom mixins
@import "variables.less";
@import "custom-mixins.less";


// 
// Grid system and page structure 
// --------------------------------------------------


// Scaffolding
// --------------------------------------------------

// Body reset

body {
    padding: 40px 0 0 0;
}

// Links

a {

}

a:hover {
    text-decoration: dashed;
}


// Grid
// --------------------------------------------------


#overview {

    .makeRow();
    .makeColumn(12);

    // border: solid 1px;

    .container {

        h1 {

        }

        p {

            .lead {
                
            }
        }


    }



}

#location {
    border: solid 1px;
    .makeRow();
    .makeColumn(12);

    .container {
    // border: solid 1px;
    }

        .page-header {
            border: solid 1px;
            display: none;
            h2 {

            }

        }

        #location-form {
            .makeColumn(10);
               border: solid 1px;
               text-align: center;

            h4 {
                .makeColumn(9);
                background-color: red;
                border: solid 1px;
            }

            i {
                border: solid 1px;

            }

        }

            #location-form-finder {
                border: solid 1px;
                background-color: purple;

                .makeColumn(4,1);
                text-align: center;

                h5 {
                    border: solid 1px;
                }

                h6 {
                    border: solid 1px;
                }

                .input-append {
                    border: solid 1px;

                }

            }

            #location-form-zip {
                border: solid 1px;
                .makeColumn(4);
                background-color: grey;

                h5 {
                    border: solid 1px;
                }

                .input-append {
                    border: solid 1px;
                }

            }
}

#notice {
    .makeRow();
    .makeColumn(12);

    background-color: orange;
    // height: 768px;

    .container {
        text-align: center;

    }
        .page-header{
            display: none;

            h2 {

            }
        }

        #notice-confirm {
            .makeColumn(8,1);
        }

        #location-wrap {

            h1 {

            }

            h2 {

            }

            h3 {

            }
        }



}

#channels {
    .makeRow();
    .makeColumn(12);

    background-color: yellow;
    // height: 768px;

    .container {

    }

        .page-header {
            display: none;

            h2 {

            }
        }

        ul {

            text-align: center;
            outline-style: none;
            display: inline;
        }

        li {
            .makeColumn(2,1);
            border: solid 1px;
        }



}

#services {
    .makeRow();
    .makeColumn(12);

    .container {
        border: solid 1px;

    }

        .page-header {
            border: solid 1px;
            
            h2 {
                border: solid 1px;
            }

            p {
                border: solid 1px;
            }

            strong {
                border: solid 1px;
            }
        
        }

        .services-thumbnails {
            border: solid 1px;
        }

        ul {
            border: solid 1px;
        }

            .thumbnails {
                border: solid 1px;
            }


            li {
                border: solid 1px;
            }

                .thumbnail {
                    border: solid 1px;
                }

            img{
                border: solid 1px;
            }

            .caption {
                border: solid 1px;
            }

            h3 {
                border: solid 1px;
            }

    background-color: purple;
    height: 768px;

}

#resources {
    .makeRow();
    .makeColumn(12);

    background-color: orange;
    height: 768px;

}

footer {
    .makeRow();
    .makeColumn(12);

    .footer {

    }
    .container {

    }
        .footer-social {
            a {

            }
            i {

            }
        }

        .footer-logo {
            img {

            }
        }

        .footer-info {
            h2 {

            }

            p {

            }

            a {

            }


        }


    background-color: pink;
    height: 768px;

}


// Layouts
// --------------------------------------------------

.container {

}

// 
// Base CSS
// --------------------------------------------------

// Type

// Code

// Forms

// Tables


// 
// Components: Common
// --------------------------------------------------

// Sprites

// Dropdowns

// Wells


// 
// Components: Buttons & Alerts
// --------------------------------------------------

// Buttons

// Button-Groups

// Alerts


// 
// Components: Nav
// --------------------------------------------------

// Navs

// Navbar


// 
// Components: Popovers
// --------------------------------------------------

// Modals

// Tooltip

// Popovers


// 
// Components: Misc
// --------------------------------------------------

// Brand

// Thumbnails

// Labels-Badges

// Progress-bars

// Hero-unit


// 
// Utility classes
// --------------------------------------------------

// Utilities
